.page-title {
  margin-bottom: 5rem;
}

/* ******************************************** */
/* BUY TICKETS FORM STYLE */
/* ******************************************** */
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buyTicketForm {
  min-width: 30rem;
}

.buyTicketForm__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.buyTicketForm__label {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 0.5rem;
  font-weight: semi-bold;
}

.buyTicketForm__input {
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-family: inherit;
}

.buyTicketForm__button {
  font-family: inherit;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: white;
  background-color: #ff4563;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  letter-spacing: 0.2rem;
}

.buyTicketForm__button:hover {
  background-color: #ff0040;
}

/* ******************************************** */
/* PURCHASE RESULT STYLE */
/* ******************************************** */

.purchaseResult {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.purchaseCard {
  padding: 2rem 4rem;
  gap: 1rem;
  max-width: 60rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  overflow: hidden;
}

.purchaseCard--success {
  border: 2px solid #4ade80;
}

.purchaseCard--error {
  border: 2px solid #f87171;
}

.purchaseCard__content {
  padding: 2rem;
}

.purchaseCard__title {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #fff;
}

.purchaseCard__description {
  font-size: 1.4rem;
  color: #ffffffd2;
  margin-bottom: 1rem;
}

.purchaseCardContent {
  /* margin-top: 1rem; */
}

.purchaseCardContent__text {
  font-size: 1.6rem;
  margin: 0.5rem 0;
  color: #fff;
}

.allTicketsLink {
  display: inline-block;
  margin-top: 1.6rem;
}

.purchaseCardContent__data {
  color: #f33a3a;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
}

